---
import DesktopData from "@layouts/linuxHQ/data/DesktopData.astro";
import LinuxDesktopTemplate from "@templates/linuxhq/linux-desktop-template.astro";

const desktop_name = "deepin";
const desktop_title = "Deepin";

const link_code = "https://github.com/linuxdeepin/dde";
const link_homepage = "https://www.deepin.org/";

const generalinfo_desktop_category = "lightweight";
const generalinfo_desktop_toolkit = "QT";
const generalinfo_distros_that_feature = "Deepin, UbuntuDDE, Arch";

const install_arch = "sudo pacman -S deepin deepin-extra";
const install_fedora = "sudo dnf install deepin-desktop";

const install_opensuse_reference =
  '<a href="https://en.opensuse.org/Portal:Deepin" target="_blank">Install Deepin on OpenSUSE</a>';
const install_opensuse_tw_repo =
  "zypper ref && zypper in -y deepin deepin-extra";

const install_mint = "N/A";
const install_ubuntu = "sudo apt install dde";
const install_debian_bullseye = "sudo apt install dde";
const install_debian_bookworm = "sudo apt install dde";
const install_debian_trixie = "sudo apt install dde";

const requirements_hdd_space = "15GB (Recommended)";
const requirements_memory = "2GB (Minimum), 4GB (Recommended)";
const requirements_processor = "64-bit dual-core processor (Recommended)";

const screenshot_distro = "Deepin";

import screenshot_src from "@desktop_ss/deepin.png";
import screenshot_thumbnail from "@desktop_ss/thumbnails/deepin-small.png";

const version_arch = "20.9-1";

const version_debian_bullseye = "20.2-3";
const version_debian_bookworm = "20.8-1";
const version_debian_trixie = "20.9-1";

const version_fedora_40 = "20.9-1";
const version_fedora_41 = "20.9-1";
const version_fedora_42 = "20.9-1";

const latest_version = "20.9";

const version_opensuse_leap156 = "20.2-3";
const version_opensuse_tumbleweed = "20.9-1";

const version_solus = "N/A";

const version_ubuntu_focal = "20.2-2";
const version_ubuntu_jammy = "20.8-1";

const version_linuxmint_20 = "N/A";
const version_linuxmint_201 = "N/A";
const version_linuxmint_202 = "N/A";
const version_linuxmint_203 = "N/A";
const version_linuxmint_21 = "N/A";
const version_linuxmint_211 = "N/A";
const version_linuxmint_212 = "N/A";
const version_linuxmint_213 = "N/A";
const version_linuxmint_22 = "N/A";
const version_linuxmint_221 = "N/A";
const version_neon = "N/A";

const info_updated = "March 1, 2025";
---

<LinuxDesktopTemplate
  title="Deepin Desktop Environment"
  keywords="deepin, desktop, linux desktop, desktop environment, deepin desktop, deepin linux, ubuntudde, arch"
  description="Deepin Desktop Environment"
>
  <DesktopData
    slot="linux-main"
    desktop_name={desktop_name}
    desktop_title={desktop_title}
    generalinfo_desktop_category={generalinfo_desktop_category}
    generalinfo_desktop_toolkit={generalinfo_desktop_toolkit}
    link_homepage={link_homepage}
    link_code={link_code}
    generalinfo_distros_that_feature={generalinfo_distros_that_feature}
    install_arch={install_arch}
    install_fedora={install_fedora}
    install_opensuse_reference={install_opensuse_reference}
    install_opensuse_tw_repo={install_opensuse_tw_repo}
    install_ubuntu={install_ubuntu}
    install_debian_bullseye={install_debian_bullseye}
    install_debian_bookworm={install_debian_bookworm}
    install_debian_trixie={install_debian_trixie}
    requirements_hdd_space={requirements_hdd_space}
    requirements_memory={requirements_memory}
    requirements_processor={requirements_processor}
    screenshot_distro={screenshot_distro}
    screenshot_src={screenshot_src}
    screenshot_thumbnail={screenshot_thumbnail}
    version_arch={version_arch}
    version_debian_bullseye={version_debian_bullseye}
    version_debian_bookwoom={version_debian_bookworm}
    version_debian_trixie={version_debian_trixie}
    version_fedora_40={version_fedora_40}
    version_fedora_41={version_fedora_41}
    version_fedora_42={version_fedora_42}
    latest_version={latest_version}
    version_leap156={version_opensuse_leap156}
    version_tumbleweed={version_opensuse_tumbleweed}
    version_solus={version_solus}
    version_ubuntu_focal={version_ubuntu_focal}
    version_ubuntu_jammy={version_ubuntu_jammy}
    version_linuxmint_20={version_linuxmint_20}
    version_linuxmint_201={version_linuxmint_201}
    version_linuxmint_202={version_linuxmint_202}
    version_linuxmint_203={version_linuxmint_203}
    version_linuxmint_21={version_linuxmint_21}
    version_linuxmint_211={version_linuxmint_211}
    version_linuxmint_212={version_linuxmint_212}
    version_linuxmint_213={version_linuxmint_213}
    version_linuxmint_22={version_linuxmint_22}
    version_linuxmint_221={version_linuxmint_221}
    version_neon={version_neon}
    info_updated={info_updated}
  />
</LinuxDesktopTemplate>
