---
import "@css/global-styles.css";

// Import the <Image /> component
import { Image } from "astro:assets";
import PageLinkToMenus from "@components/global/PageLinkToMenus.astro";

const desktop_name = Astro.props.desktop_name;
const desktop_title = Astro.props.desktop_title;
const generalinfo_desktop_category = Astro.props.generalinfo_desktop_category;
const generalinfo_desktop_toolkit = Astro.props.generalinfo_desktop_toolkit;
const generalinfo_distros_that_feature =
  Astro.props.generalinfo_distros_that_feature;

const link_homepage = Astro.props.link_homepage;
// the idea is to the code ... labeled code in CASE its not on github/gitlabs
const link_code = Astro.props.links_code;

const install_arch = Astro.props.install_arch;

const install_debian_bullseye = Astro.props.install_debian_bullseye;
const install_debian_bookworm = Astro.props.install_debian_bookworm;
const install_debian_trixie = Astro.props.install_debian_trixie;

const install_fedora = Astro.props.install_fedora;

const install_opensuse_reference = Astro.props.install_opensuse_reference;
const install_opensuse_tw_repo = Astro.props.install_opensuse_tw_repo;

const install_ubuntu = Astro.props.install_ubuntu;

const requirements_hdd_space = Astro.props.requirements_hdd_space;
const requirements_memory = Astro.props.requirements_memory;
const requirements_processor = Astro.props.requirements_processor;

const screenshot_distro = Astro.props.screenshot_distro;
const screenshot_src = Astro.props.screenshot_src;
const screenshot_thumbnail = Astro.props.thumbnail;

const version_arch = Astro.props.version_arch;

const version_debian_bullseye = Astro.props.version_debian_bullseye;
const version_debian_bookwoom = Astro.props.version_debian_bookworm;
const version_debian_trixie = Astro.props.version_debian_trixie;

const version_fedora_43 = Astro.props.version_fedora_43;
const version_fedora_42 = Astro.props.version_fedora_42;

const latest_version = Astro.props.version_latest_version;

const version_opensuse_leap156 = Astro.props.version_leap156;
const version_opensuse_tumbleweed = Astro.props.version_tumblewood;

const version_solus = Astro.props.version_solus;

const version_ubuntu_jammy = Astro.props.version_ubuntu_jammy;
const version_ubuntu_noble = Astro.props.version_ubuntu_noble;
const version_ubuntu_plucky = Astro.props.version_ubuntu_plucky;

const version_linuxmint_21 = Astro.props.version_linuxmint_21;
const version_linuxmint_211 = Astro.props.version_linuxmint_211;
const version_linuxmint_212 = Astro.props.version_linuxmint_212;
const version_linuxmint_213 = Astro.props.version_linuxmint_213;
const version_linuxmint_22 = Astro.props.version_linuxmint_22;
const version_linuxmint_221 = Astro.props.version_linuxmint_221;
const version_neon = Astro.props.version_neon;
const info_updated = Astro.props.info_updated;
---

<div>
  <PageLinkToMenus />
</div>

<div class="desktop_container">
  <div class="desktop_title">{desktop_title}</div>
  <div class="info_and_screenshot_container">
    <div class="generalinfo">
      <div>
        <span class="fw-bold">Desktop Hompage: </span>
        <a href={link_homepage}>
          {link_homepage}
        </a>
      </div>
      <div>
        <span class="fw-bold">Source Code/Issue Tracker: </span>{link_code}
      </div>

      <div>
        <span class="fw-bold">Desktop Category: </span>{
          generalinfo_desktop_category
        }
      </div>
      <div>
        <span class="fw-bold">Toolkit/WM Name: </span>{
          generalinfo_desktop_toolkit
        }
      </div>

      <div>
        Distros that Feature {desktop_title}: {generalinfo_distros_that_feature}
      </div>
    </div>

    <div class="screenshot">
      <a
        href={typeof screenshot_src === "string"
          ? screenshot_src
          : screenshot_src.src}
        target="_blank"
      >
        <Image src={screenshot_src} alt="test" width={500} />
      </a>
    </div>
  </div>

  <div>
    <span class="fw-bold">Last Date Info was updated:</span>
    {info_updated}
  </div>

  <div>
    <span class="fw-bold">Latest Version: </span>
    {latest_version}
  </div>

  <!-- Versions container -->
  <div class="versions_container">
    <!-- Arch -->
    <div class="sub_version_container">
      <span class="distro-name">Arch Version:</span>
      {version_arch}
    </div>

    <!-- Debian -->
    <div class="sub_version_container">
      <div>
        <span class="distro-name">Debian 11 - Bullseye:</span>
        {version_debian_bullseye}
      </div>
      <div>
        <span class="distro-name">Debian 12 - Bookworm:</span>
        {version_debian_bookwoom}
      </div>
      <div>
        <span class="distro-name">Debian 13 - Trixie:</span>
        {version_debian_trixie}
      </div>
    </div>

    <!-- Fedora  -->
    <div class="sub_version_container">
      <div>
        <span class="distro-name">Fedora 43 Version:</span>
        {version_fedora_43}
      </div>
      <div>
        <span class="distro-name">Fedora 42 Version:</span>
        {version_fedora_42}
      </div>
    </div>

    <!-- OpenSUSE -->
    <div class="sub_version_container">
      <div>
        <span class="distro-name">Leap 15.6 Version:</span>
        {version_opensuse_leap156}
      </div>
      <div>
        <span class="distro-name">Tumbleweed Version:</span>
        {version_opensuse_tumbleweed}
      </div>
    </div>

    <!-- Solus -->
    <div class="sub_version_container">
      <span class="distro-name">Solus Version:</span>
      {version_solus}
    </div>

    <!-- Ubuntu based -->
    <!-- <div id="ubuntu_based"> -->

    <!-- Ubuntu -->
    <div class="sub_version_container">
      <span class="distro-name">Ubuntu Based Versions</span>
      <div>
        <span class="distro-name">Jammy (22.04) Version:</span>
        {version_ubuntu_jammy}
      </div>
      <div>
        <span class="distro-name">Noble (24.04) Version:</span>
        {version_ubuntu_noble}
      </div>
      <div>
        <span class="distro-name">Pluxy (25.04) Version:</span>
        {version_ubuntu_plucky}
      </div>
    </div>

    <!-- Linux Mint -->
    <div class="sub_version_container">
      <span class="distro-name">Linux Mint Versions</span>

      <div>
        <span class="distro-name">Linux Mint 21.0:</span>
        {version_linuxmint_21}
      </div>
      <div>
        <span class="distro-name">Linux Mint 21.1:</span>
        {version_linuxmint_211}
      </div>
      <div>
        <span class="distro-name">Linux Mint 21.2:</span>
        {version_linuxmint_212}
      </div>
      <div>
        <span class="distro-name">Linux Mint 21.3:</span>
        {version_linuxmint_213}
      </div>
      <div>
        <span class="distro-name">Linux Mint 22.0:</span>
        {version_linuxmint_22}
      </div>
      <div>
        <span class="distro-name">Linux Mint 22.1:</span>
        {version_linuxmint_221}
      </div>
    </div>
    <!-- </div> -->
  </div>

  <!-- Install container-->
  <div class="install_container">
    <h3>Installing</h3>
    <div>
      <span class="distro-name">Arch:</span>
      <span class="code">{install_arch}</span>
    </div>
    <div>
      <span class="distro-name">Debian:</span>
      <span class="code">Debian 11 - Bullseye: {install_debian_bullseye}</span>
      <span class="code">Debian 12 - Bookworm: {install_debian_bookworm} </span>
      <span class="code">Debian 13 - Trixie: {install_debian_trixie} </span>
    </div>
    <div>
      <span class="distro-name">Fedora:</span>
      <span class="code">{install_fedora}</span>
    </div>
    <div>
      <span class="distro-name">OpenSUSE Tumbleweed:</span>
      <span class="code" set:html={install_opensuse_tw_repo} />
    </div>
    <div>
      <span class="distro-name">Ubuntu:</span>
      <span class="code">{install_ubuntu}</span>
    </div>
  </div>
</div>

<style lang="scss">
  @use "@scss/base/index" as *;

  .desktop_container {
    @include outline;

    // not sure this is "too much"
    // @include box-shadow($blur: 0.75rem);

    // since flex should be set globally for this
    flex-direction: column;

    font-size: 1.2rem;
    line-height: 1.7rem;
    padding: 1.6rem;

    .desktop_title {
      font-size: 2rem;
      font-weight: 800;
    }

    // Info and Screenshot Container
    .info_and_screenshot_container {
      @include flex($jc: space-between);

      line-height: 2rem;

      // General Info
      .generalinfo {
        margin: 1rem 0;

        @include flex($direction: column);
      }
    }

    // Versions (overall) container
    .versions_container {
      @include flex($jc: center);

      // Sub Version Container - this is say for each distro base "section"
      .sub_version_container {
        background-color: var(--surface-l3);

        @include box-shadow($color: var(--dark-color));

        line-height: 2rem;
        margin: 1rem;
        @include outline;
        padding: 1rem;
        width: clamp(300px, 25%, 100%);

        // @media (width <= $breakpoint-md) {
        //   width: max(300px, 100%);
        // }

        .distro-name {
          font-weight: var(--fw-bold);
        }
      }
    }

    // Install Container
    .install_container {
      //  @include box-shadow;
      margin: 2rem 1rem;
      padding: 1rem;

      background-color: var(--surface-l3);

      h3 {
        font-size: 1.5rem;
        margin: 2rem 0;
      }
    }
  }

  // to make code look nice
  .code {
    background-color: var(--dark-color);

    color: var(--light-color);

    font-family: monospace;
    font-size: 1.2rem;
    display: block;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 1rem;
  }

  // why is this outside, here ?
  .sub_section_container {
    @include outline($color: var(--dark-color));
    margin: 2rem 1rem;
    padding: 1rem;
  }
</style>
